<h1>All Devices</h1>
<%= link_to "Advanced Search",new_search_path %>
<% @devices.each do |n| %>
<li> <%= n.device_name + " | " + n.device_type %>
<%= link_to "show",device_path(n) %>
<%= link_to "edit",edit_device_path(n) %> </li>
<% end %>
