<%# add navigation links to this file %>
<li><%= link_to 'Devices',('../devices/index')
%></li>
<li><%=link_to 'New',('../devices/new')%></li>
<li><%=link_to 'Calendar',('../calendar_page/index')%></li>
